extends ../main

block content
    h1(class='text-center mb-4')='Users'
    div(class="container")
        - $action = $items['baseUrl'] . '/admin/saveusers'
        form(action=$action method='post' class="needs-validation")
            div(class="form-group row")
                label(for="inputSession")='Users as CSV:'
                select(id="inputSession" name='session' class="form-control")
                    each $session in $items.sessions
                        option(value=$session.id)=$session.name
            div(class="form-group row")
                label(for="usersFormControlTextarea")='Users as CSV:'
                textarea(class="form-control" id="usersFormControlTextarea" name="users" rows="10")
            button(type="submit" class="btn ml-md-1 mt-2 btn-primary") Submit
            button(type="reset" class="btn ml-md-1 mt-2 btn-secondary") Cancel

//-
//- Copyright 2018 the original author or authors.
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-      http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//-
