mixin quiz($quiz, $userQuizQuestions, $user)
    - $cpt = 1

    each $userQuizQuestion in $userQuizQuestions
        - $question = $userQuizQuestion->getQuestion()
        - $questionLabel = '' . $cpt . ' - ' . $question->getName()
        h3=$questionLabel
        each $answer in $question.answers
            - $checkName = 'check_' . $question->getId()
            - $checkId = 'check_' . $answer->getId()
            - $label = $answer->getName()
            - $value = $answer->getId()
            - $isUsersChoice = false // $answer->getId() === $userQuizQuestion->getQuizQuestion()->getId()
            each $userAnswer in $userQuizQuestion.userQuizQuestionAnswers
                if $answer->getId() === $userAnswer->getAnswer()->getId()
                    - $isUsersChoice = true
            - $groupClass = 'form-group'
            if $answer->isGood()
                - $groupClass .= ' good'
            div(class=$groupClass)
                if ($question.multiple)
                    input(type="checkbox" class="form-check-input" disabled)(name=$checkName)(id=$checkId)(value=$value)(checked=$isUsersChoice)
                else
                    input(type="radio" class="form-check-input" disabled)(name=$checkName)(id=$checkId)(value=$value)(checked=$isUsersChoice)

                label(for=$checkId)=$label
                |
                if ($answer->isGood() && $isUsersChoice)
                    span(class='badge badge-success')='Right answer'
                else
                    if $isUsersChoice
                        span(class='badge badge-danger')='Wrong answer'
                if strlen($answer.text) > 0
                    p=$answer.text
        - $cpt++

extends main

block css
    - $href=$items['baseUrl'] . '/css/quiz.css'
    link(rel='stylesheet' href=$href crossorigin='anonymous')

block content
    div.container
        - $userQuiz=$items['userQuiz']
        - $quiz=$userQuiz->getQuiz()
        - $userQuizQuestions=$userQuiz->getUserQuizQuestions()
        - $user=$items['user']

        h2(class="mark")="Your mark is: "
            span=$userQuiz.goodAnswerCount
        h1=$quiz.name

        +quiz($quiz, $userQuizQuestions, $user)


//-
//- Copyright 2018 the original author or authors.
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-      http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//-
